<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://reservationsystemsperanza.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>reservationsystemsperanza.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReservationSystemSperanza</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ReservationSystemSperanza</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Database1Entities4" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS.Models.Database1Entities4, RS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MainDB" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS.Core.MainDB, RS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQL" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|SQL-20160429150113.mdf;Initial Catalog=SQL-20160429150113;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SQL-20160429150113; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SQL-20160429150113.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS.Models.ApplicationDbContext, RS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Database1Entities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UsersModel.csdl|res://*/Models.UsersModel.ssdl|res://*/Models.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User Id=speranza123@speranza123;Password=DAtabaza123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UsersModel.csdl|res://*/Models.UsersModel.ssdl|res://*/Models.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=ReservationSystemSperanza_db;User Id=speranza123@speranza123;Password=DAtabaza123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQL-Web.config Connection String">
      <ParameterValue>data source=tcp:speranza123.database.windows.net,1433;initial catalog=ReservationSystemSperanza_db;user id=speranza123@speranza123;password=DAtabaza123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>