<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>1</ADDirectoryAccessLevel>
    <ADDomain>zuzkapapalovagmail.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://speranzareservationsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>speranzareservationsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SPERANZAReservationSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SPERANZAReservationSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Database1Entities4" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS.Models.Database1Entities4, RS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MainDB" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS.Core.MainDB, RS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SQL" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|SQL-20160429150113.mdf;Initial Catalog=SQL-20160429150113;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=SQL-20160429150113; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|SQL-20160429150113.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="5" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User ID=speranza123@speranza123;Password=DAtabaza123" Name="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RS.Models.ApplicationDbContext, RS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://zuzkapapalovagmail.onmicrosoft.com/WebApp-speranzareservationsystem.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>ad15af1e-875c-4c13-8c30-2e9d9f72368b</ADClientAPPID>
    <ADClientPassword>Bae6XPGhAduoQ1p4pCVsphzoAfkCGWB8DNkNQ1x4fDA=</ADClientPassword>
    <ADReplyUrl>https://speranzareservationsystem.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>fa1e5a5b-a0a1-4404-8a86-40a9d4e15912</ADTenantId>
    <ADPostLogoutRedirectUri>https://speranzareservationsystem.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Database1Entities4-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UsersModel.csdl|res://*/Models.UsersModel.ssdl|res://*/Models.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDB-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UsersModel.csdl|res://*/Models.UsersModel.ssdl|res://*/Models.UsersModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:speranza123.database.windows.net,1433;Initial Catalog=SPERANZAReservationSystem103;User Id=speranza123@speranza123;Password=DAtabaza123"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQL-Web.config Connection String">
      <ParameterValue>data source=tcp:speranza123.database.windows.net,1433;initial catalog=SPERANZAReservationSystem103;user id=speranza123@speranza123;password=DAtabaza123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>