html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.masthead img {
    height: 130px;
    width: 1350px;
    margin-top: 0px;
    padding-right: 200px;
    padding-left: 200px;
    background-repeat: no-repeat;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

    .parallax-container .section {
        width: 100%;
    }

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.centered {
    position: relative !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}
